.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.list-container {
    width: 80vw;
    height: 50vh;
    display: grid;
    overflow-y: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50vmin;
    gap: 2vmin;
    padding: 2vmin;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card {
    width: 100%;
    height: 90%;
    border-radius: 5vmin;
    border: 1px solid aliceblue;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardEmpty {
    border-color: rgba(240, 248, 255, 0.1);
}

.cardImg {
    width: 30vmin;
    margin-top: 4vmin;
    border-radius: 40% 40% 5% 5%;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;

    border: 1px solid aliceblue;

    box-shadow: 0 0 3vmin 0 rgba(0, 0, 0, 0.5);
}

.cardText {
    width: 100%;
    height: 100%;
    padding: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 5vmin 5vmin;
    overflow-y: hidden;
}

.plus {
    font-size: 5vmin;
    color: rgba(155, 157, 164, 0.33);
}

.space {
    height: 1vmin;
}